{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "dot-notation": "warn",
    "no-unused-vars": "warn",
    "no-shadow": "warn"
  }
}