<div class="well well-lg">
  <h2 class="center_it">Search Precincts</h2>
  <h4>If you don't know your precinct, type your addres here:</h4>
  <form class="form-horizontal">
    <div class="form-group">
      <input  class="form-control" type="text" name="precintSearch" autocomplete="off" placeholder="Enter your address"/>
    </div>
    <button class="btn btn-primary btn-lg form-group" role="button">Search</button>
  </form>
</div>