      <div class="well well-lg">
        <h4>If you have used this app before please enter your e-mail to sign in here</h4>
        <form class="form-horizontal">
          <div class="form-group">
            <input  class="text email-field form-control" type="text" name="userForm" id="userForm" autocomplete="off" placeholder="Enter your email"/>
          </div>
          <button type="New Game" class="btn btn-success btn-lg form-group" role="button">Submit</button>

        </form><!-- end form -->

      </div><!-- end well -->