      <section id="register">
        <div class="well well-lg centerfy">
          <form class="user-form">
            <h3>Select whether you are:</h3>
            <button class="btn btn-primary btn-lg" role="button">A Volunteer</button>
            <button class="btn btn-primary btn-lg" role="button">A Voter (non-volunteer)</button>
            </br>

            <div class="row">
              <div class="form-group col-xs-12">
                <input  class="text email-field form-control" type="text" name="userForm" id="userForm" autocomplete="off" placeholder="Enter your email" required/>
            
                <input type="text" name="userForm" id="userForm" class="text precinct-field form-control" maxlength="3" autocomplete="off" placeholder="Your precinct #" required/>
              
                <input type="text" name="userForm" id="userForm" class="text state-field form-control" maxlength="2" autocomplete="off" placeholder="Your state" required/>
              </div>                 
            </div>
              
          </form>
        </div>
      </section><!-- end register section -->